<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <title></title>
</head>
<body>
    <div id="nav-bar">
        <a class="nav-btn" href="#" id="hotellet">Om Hotellet</a>
        <a class="nav-btn" href="#" id="startsida">Startsida</a>
        <a class="nav-btn" href="#" id="restaurang">Om Restaurangen</a>
    </div>

    <div id="page">
        <div id="logo">
            <img src="../static/img/Tranan.png" id="logo-pic">
        </div>
    </div>

    <div id="page">
        <div id="hotel-info">

        </div>

        <div id="hotel-pics">

        </div>

        <div id="hotel-book">

        </div>

        <div id="hotel-map">

        </div>

    </div>


</body>
</html>